.dialogue-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5em 0.8rem;
  align-items: center;
  border: 3px double var(--neutralColor);

  .dialogue-box-portrait {
    width: 80px;
    height: 80px;
  }
}
