{
  "extends": "airbnb",
  "env": {
    "jest": true,
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "alert": true,
  },
  "rules": {
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "quote-props": [1, "consistent-as-needed"],
    "no-cond-assign": [2, "except-parens"],
    "radix": 0,
    "space-infix-ops": 0,
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "default-case": 0,
    "no-else-return": 0,
    "no-param-reassign": 0,
    "quotes": 0,
    "react/prefer-stateless-function": [0,],
    "arrow-body-style": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "jsx-a11y/anchor-is-valid": 0,
    "react/prop-types": 0,
    "import/no-unresolved": 0,
    "no-underscore-dangle": 0,
    "import/extensions": 0,
    "import/first": 0,
    "class-methods-use-this": 0,
    "prefer-destructuring": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/prefer-default-export": 0,
    "react/jsx-no-bind": 0,
    "react/no-multi-comp": 0,
    "react/no-danger": 0,
    "react/jsx-closing-tag-location": 0,
  }
}
