input[type='checkbox'].saylua-checkbox {
  position: relative;
  visibility: hidden;
  width: 20px;
  height: 20px;
  padding: 0; }
  input[type='checkbox'].saylua-checkbox::before {
    content: '\2714';
    display: flex;
    visibility: visible;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: white;
    border: 1px solid #ddd;
    background-color: white;
    align-items: center;
    justify-content: center; }
  input[type='checkbox'].saylua-checkbox:checked::before {
    border-color: var(--mainColor);
    background-color: var(--mainColor); }
