button.saylua-button {
  font-size: 1em;
  line-height: 150%;
  display: inline-flex;
  align-items: center;
  width: auto;
  margin: 0.25em 0.4rem;
  padding: 0.25em 1.2rem;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  border-radius: 20px;
  border: 1px solid var(--accentColor);
  background-color: var(--accentColor);
  box-shadow: 0px 1px 2px var(--mainShadowColor);
  transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  img {
    margin-right: 0.4rem;
  }

  &:hover {
    text-decoration: none;
    border: 1px solid var(--mainColor);
    background-color: var(--mainColor);
  }

  &:active {
    transform: translateY(2px);
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;
  }
}

button.subtle-button {
  color: var(--accentColor);
  border: 1px solid var(--mainShadowColor);
  background-color: var(--emphasisBgColor);

  &:hover {
    text-decoration: none;
    background-color: var(--softEmphasisColor);
  }
}
