@import 'scss/assets/variables';

@import 'scss/assets/layout/sizes';

.main-body {
  @extend %content-width;
  display: flex;
  flex-direction: row;
  min-height: 400px;
  padding: 1em 0;

  align-items: flex-start;
  flex-grow: 1;
  flex-shrink: 0;
}

.main-body-column {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  color: var(--mainTextColor);

  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
}

.main-body-content {
  padding: 0.5em 0.8rem 1em 0.8rem;
  background-color: $white;

  flex-grow: 1;
  flex-shrink: 0;
}


// .sidebar-filler is not my favorite, but it's a simple way to make sure things
// align nicely with (or without) the sidebar without having to make too many hacks.
.sidebar,
.sidebar-filler {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 1em 1.6rem;

  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

// The sidebar becomes horizontal at this width.
@media (max-width: 800px) {
  html {
    font-size: 50%;
  }

  .main-body {
    flex-direction: column;

    align-items: stretch;
    justify-content: flex-start;
  }

  .sidebar-filler {
    display: none;
  }
}

.hide-sidebar {
  .sidebar-filler,
  .sidebar {
    display: none;
  }
}
