@import 'scss/assets/variables';


.staff-actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  padding: 0.5em 4px;
  text-align: left;
  color: $black;
  border: 2px dotted;

  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-around;

  &.moderation {
    background-color: var(--neutralColor);
    border-color: var(--neutralDarkColor);
  }

  &.admin {
    background-color: var(--highlightSoftColor);
    border-color: var(--highlightDarkColor);
  }

  h3 {
    width: 30%;
    text-align: center;
    border: 0;
  }

  @media(max-width: 500px) {
    flex-direction: column;
    text-align: center;
  }
}
