.coat-guide-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  img {
    flex-grow: 0;
    flex-shrink: 0;
    width: 20rem;
    height: 20rem;
  }
}
