ul.museum-guides {
  width: 100%;
  padding: 1em 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }
  ul.museum-guides li {
    display: flex;
    width: 32%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: var(--emphasisBgColorSoft);
    padding: 1em 1.6rem;
    border: 1px solid var(--mainShadowColor); }
    ul.museum-guides li a {
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: 2.4rem;
      line-height: 4rem;
      align-items: center;
      justify-content: center;
      padding: 0.5em 0.8rem;
      margin-bottom: 0.25em; }
      ul.museum-guides li a .museum-guide-image-container {
        display: flex;
        flex-direction: row;
        overflow: hidden; }
        ul.museum-guides li a .museum-guide-image-container img {
          width: 80px;
          height: 80px; }
    ul.museum-guides li a:hover {
      background: var(--emphasisBgColor); }
