ul.museum-guides {
  width: 100%;
  padding: 1em 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;

    a {
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      height: 10rem;
      width: 30rem;
      font-size: 3rem;
      align-items: center;
      justify-content: center;
      background: var(--neutralColor);
      margin: 0.5em 1.6rem;
    }

    a:hover {
      background: var(--emphasisBgColor);
    }
  }
}
