@import 'scss/assets/variables';


.header {
  background-color: var(--mainSofterColor);
  font-family: $headerFont;
  width: 100%;
  height: 7.6rem;
  padding: 1.8rem;
  text-align: center;
  color: $white;
  background-size: cover;

  flex-shrink: 0;
}

.logo {
  font-size: 4rem;
  font-weight: bold;

  flex-grow: 1;
  flex-shrink: 0;


  img {
    transition: 0.5s filter ease-in-out, 0.2s transform linear;
    height: 4rem;
    filter: drop-shadow(0px 1px 2px hsla(0, 0%, 0%, 0.3));
  }

  &:active img {
    transform: translateY(3px);
  }

  &:hover img {
    filter: drop-shadow(0px 0px 5px hsl(60, 76%, 69%));
  }
}
