.modal-overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: block;
  visibility: visible;
  overflow: auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: hsla(0, 0%, 0%, 0.4);

  &.closed {
    top: -9999;
    left: -9999;
    display: none;
    visibility: hidden;
  }

  &.closed:target,
  &:target {
    top: 0;
    left: 0;
    display: block;
    visibility: visible;
  }
}

.modal {
  position: relative;
  width: auto;
  min-width: 30%;
  max-width: 60rem;
  margin: 7% auto;
  padding: 2em 1.6rem;
  cursor: default;
  border-radius: 10px;
  background: white;

  .modal-close {
    font-size: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4rem;
    cursor: pointer;
    color: hsl(0, 0%, 26%);
    text-decoration: none;

    &:hover {
      color: var(--accentColor);
      text-decoration: none;
    }
  }

  @media(max-width: 500px) {
    max-width: 95%;
  }
}
