@import 'scss/assets/variables';


.sidebar-section {
  max-width: 40rem;

  flex-grow: 1;
  flex-shrink: 1;
}

.sidebar-login-form {
  table.form-table, form, tbody {
    width: 100%;
    display: block;
  }

  table.form-table {
    text-align: center;

    tr {
      display: flex;
      flex-direction: column;
    }

    td {
      width: 100%;
      padding: 0.1em 0.8rem;
      text-align: center;
    }
  }

  h3 {
    border-color: var(--neutralDarkColor);
    margin-bottom: 0;
    text-align: center;
    border-bottom-style: dotted;
  }
}

// The sidebar becomes horizontal at this width.
@media (max-width: 800px) {
  .sidebar {
    flex-direction: row;
    width: 100%;
    padding: 1rem 1%;

    align-items: center;
    justify-content: center;

    .sidebar-section {
      max-width: 70%;
    }

    // The pet and human avatar view has to become landscape.
    .pet-avatar-view {
      position: static;
      display: flex;
      flex-direction: row;
      padding: 1em 0.8rem;

      .avatar-view {
        position: relative;
        display: block;
        width: 50%;
        margin: 0;
        padding: 0;

        flex-grow: 0;
        flex-shrink: 0;

        &:after {
          content: '';
          display: block;
          margin: 0;
          padding: 0;
          padding-bottom: 100%;
        }

        a {
          position: absolute;
          display: block;
          overflow: hidden;
          width: 100%;
          height: 100%;
        }
      }

      .active-pet-view {
        position: static;
        width: 50%;
        margin: 0;
        padding: 0;

        flex-grow: 0;
        flex-shrink: 0;
      }
    }
  }
}
