@import 'scss/assets/variables';


.search {
  padding: 1px 0.8rem 0 0.8rem;

  align-items: center;
  flex-grow: 10;
  flex-shrink: 1;

  input {
    color: var(--mainDarkColor);
    background-color: var(--mainSofterColor);
    font-size: 1.4rem;
    width: 100%;
    height: 2.8rem;
    margin: 0;
    margin-top: -0.1rem;
    padding: 0.3rem 2.5rem 0.3rem 0.5rem;
    border: 0;
  }

  input:focus {
    color: $black;
    outline: none;
    background: $white;
    box-shadow: -1px 1px 8px hsl(60, 76%, 69%), 1px -1px 8px $white;
  }

  button {
    color: var(--mainDarkColor);
    font-size: 1.4rem;
    line-height: 100%;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: -2.6rem;
    padding: 0.5rem;
    border: 0;
    border-radius: 0;
    background: none;
  }

  button:hover {
    background: none;
  }
}

@media (max-width: 900px) {
  .search {
    // TODO: Make this actually show up but in responsive form.
    display: none;
  }
}
