@import '../assets/sizes';

footer {
  @extend %content-width;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  text-align: center;

  flex-grow: 1;
  flex-shrink: 0;

  .footer-content {
    padding: 0;
    word-wrap: break-word;

    flex-grow: 1;
    flex-shrink: 1;

    i {
      font-size: 2rem;
      transition: none;
    }
  }

  a i:hover {
    text-decoration: none;
    color: var(--mainColor);
  }
}
