$mainBgColor: hsl(171, 14%, 85%);
$contentBgColor: hsl(171, 14%, 90%);

$neutralColor: hsl(177, 41%, 91%);
$neutralDarkColor: hsl(174, 36%, 69%);

$mainSoftestColor: hsl(171, 55%, 94%);
$mainSofterColor: hsl(171, 60%, 88%);
$mainSoftColor: hsl(171, 81%, 44%);
$mainColor: hsl(171, 82%, 42%);
$mainDarkColor: hsl(172, 86%, 36%);
$mainDarkerColor: hsl(172, 87%, 31%);

$accentSoftColor: hsl(4, 65%, 88%);
$accentColor: hsl(4, 72%, 62%);

$highlightSoftColor: hsl(45, 100%, 92%);
$highlightColor: hsl(45, 75%, 85%);
$highlightDarkColor: hsl(45, 52%, 73%);

$black: hsl(0, 0%, 13%);
$notQuiteBlack: hsl(0, 0%, 34%);
$white: hsl(0, 0%, 100%);
$gray: hsl(0, 0%, 60%);

$errorColor: hsl(348, 100%, 50%);
$errorLightColor: hsl(0, 100%, 90%);

$navHeight: 4.5rem;
