
.adventure {
  font-family: sans-serif;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 500px;
  margin: auto;
  padding: 0;
  text-align: center;
  align-items: center;

  h2 {
    font-size: 2rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .choice {
    font-size: 2rem;
    margin: 0.7rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    text-align: center;
    background-color: white;
    color: #222;
    border: 2px double;
    width: 50%;
    text-align: left;
  }

  .adventureText {
    text-align: center;
    padding: 0 1rem;
    min-height: 5rem;
  }

  .choice:hover {
    background-color: silver;
  }

  .imageArea {
    width: 100%;
    min-width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
  }

  .imageArea div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 100%;
  }

  .imageArea div img {
    min-height: 100%;
    max-height: 500px;
  }

  .tiny-encounter-image {
    max-width: 75%;
    max-height: 75%;
  }

  .hud-area {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 4em;
    min-height: 4em;
    max-height: 4em;
  }

  .hud-area img {
    width: 4em;
    height: 4em;
  }

  .battleStatBox {
    width: 40%;
    display: flex;
    padding: .5em .5rem;
  }

  .adventureWrapper {
    width: 100%;
    min-width: 100%;
    background: url('../../backgrounds/sayleus.jpg') no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
  }

  .stat-bar {
    //width: 100%;
    display: flex;
  }

  .bar-box {
    width: 100%;
  }

  .bar-back {
    position: relative;
    height: 1.5em;
    background-color: var(--contentBgColor);
    margin-top: .25em;
    max-width: 100%;
    width: 100%;
  }

  .bar-back div {
    position: absolute;
    height: 100%;
    line-height: 1.5em;
    color: var(--mainTextColor);
  }

  .bar-label {
    padding-left: .5rem;
  }

  .bar-icon {
    width: 2rem;
    line-height: 1.5em;
  }

  .bar-health-color {
    background-color: var(--healthColor);
  }

  .bar-stamina-color {
    background-color: var(--staminaColor);
  }

  .objective {
    padding: 1em 2rem;
  }


}
