@import 'scss/assets/variables';

@import 'global';


:root {
  --accentColor: $accentColor;
  --accentSoftColor: $accentSoftColor;
  --bgTextColor: $black;
  --errorColor: $errorColor;
  --errorLightColor: $errorLightColor;
  --highlightColor: $highlightColor;
  --highlightDarkColor: $highlightDarkColor;
  --highlightSoftColor: $highlightSoftColor;
  --mainBgColor: $mainBgColor;
  --mainColor: $mainColor;
  --mainDarkColor: $mainDarkColor;
  --mainDarkerColor: $mainDarkerColor;
  --mainSoftColor: $mainSoftColor;
  --mainSofterColor: $mainSofterColor;
  --mainSoftestColor: $mainSoftestColor;
  --mainTextColor: $black;
  --neutralColor: $neutralColor;
  --neutralDarkColor: $neutralDarkColor;
}

.theme-luaria {
  --bgTextColor: $white;
  --mainBgColor: hsl(220, 15%, 15%);
  --mainColor: hsl(228, 50%, 30%);
  --mainDarkColor: hsl(228, 50%, 25%);
  --mainDarkerColor: hsl(228, 50%, 20%);
  --mainSoftColor: hsl(228, 50%, 35%);
  --mainSofterColor: hsl(228, 42%, 80%);
  --mainSoftestColor: hsl(228, 40%, 90%);
  --neutralColor: hsl(218, 40%, 90%);
  --neutralDarkColor: hsl(218, 40%, 70%);
}

.theme-admin {
  --mainColor: hsl(180, 2%, 22%);
  --mainDarkColor: hsl(0, 0%, 13%);
  --mainDarkerColor: hsl(0, 0%, 0%);
  --mainSoftColor: hsl(185, 3%, 25%);
  --mainSofterColor: hsl(189, 7%, 81%);
  --mainSoftestColor: hsl(195, 10%, 90%);
  --neutralColor: hsl(0, 0%, 87%);
  --neutralDarkColor: hsl(0, 0%, 77%);

  .header {
    filter: grayscale(50%);
  }
}
