@import 'scss/assets/variables';

@import 'global';


:root {
  --accentColor: $accentColor;
  --accentSoftColor: $accentSoftColor;

  --errorColor: $errorColor;
  --errorLightColor: $errorLightColor;
  --highlightColor: $highlightColor;
  --highlightDarkColor: $highlightDarkColor;
  --highlightSoftColor: $highlightSoftColor;

  --mainBgColor: $mainBgColor;
  --bgTextColor: $black;

  --contentBgColor: $contentBgColor;
  --mainTextColor: $black;

  --emphasisBgColor: $white;

  --mainColor: $mainColor;
  --mainDarkColor: $mainDarkColor;
  --mainDarkerColor: $mainDarkerColor;
  --mainSoftColor: $mainSoftColor;
  --mainSofterColor: $mainSofterColor;
  --mainSoftestColor: $mainSoftestColor;
  --neutralColor: $neutralColor;
  --neutralDarkColor: $neutralDarkColor;

  --healthColor: hsl(4, 72%, 62%);
  --staminaColor: hsl(228, 72%, 62%);
  --focusColor: hsl(55, 72%, 62%);
}

.theme-luaria {
  --bgTextColor: hsl(218, 5%, 80%);
  --mainBgColor: hsl(220, 15%, 12%);
  --contentBgColor: hsl(220, 15%, 17%);
  --emphasisBgColor: hsl(220, 15%, 25%);

  --mainTextColor: hsl(218, 5%, 80%);

  --mainColor: hsl(228, 50%, 30%);
  --mainDarkColor: hsl(228, 50%, 25%);
  --mainDarkerColor: hsl(228, 50%, 20%);
  --mainSoftColor: hsl(228, 50%, 35%);
  --mainSofterColor: hsl(228, 42%, 70%);
  --mainSoftestColor: hsl(228, 40%, 90%);
  --neutralColor: hsl(218, 40%, 90%);
  --neutralDarkColor: hsl(218, 40%, 70%);

  --healthColor: hsl(4, 72%, 32%);
  --staminaColor: hsl(228, 72%, 32%);
  --focusColor: hsl(55, 72%, 32%);
}

.theme-admin {
  --mainColor: hsl(180, 2%, 22%);
  --mainDarkColor: hsl(0, 0%, 13%);
  --mainDarkerColor: hsl(0, 0%, 0%);
  --mainSoftColor: hsl(185, 3%, 25%);
  --mainSofterColor: hsl(189, 7%, 81%);
  --mainSoftestColor: hsl(195, 10%, 90%);
  --neutralColor: hsl(0, 0%, 87%);
  --neutralDarkColor: hsl(0, 0%, 77%);

  .header {
    filter: grayscale(50%);
  }
}
