@import '../assets/sizes';

.sidebar-section {
  max-width: 40rem;

  flex-grow: 1;
  flex-shrink: 1;
}

.sidebar-container, .sidebar {
  min-height: 500px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em 1.6rem;

  align-items: center;
}

.bar-back {
  position: relative;
  height: 1.5em;
  background-color: var(--contentBgColor);
  margin-top: .25em;
}

.bar-back div {
  position: absolute;
  height: 100%;
  padding-left: .5rem;
  line-height: 1.5em;
  color: var(--mainTextColor);
}

.bar-health-color {
  background-color: var(--healthColor);
}

.bar-stamina-color {
  background-color: var(--staminaColor);
}

.bar-focus-color {
  background-color: var(--focusColor);
}

@media (min-height: 600px) {
  .sidebar.sidebar-fixed {
    position: fixed;
    overflow-y: scroll;
    width: inherit;
    max-height: 100%;
    margin-top: -$headerHeight;
  }
}

// The sidebar becomes horizontal at this width.
@media (max-width: 800px) {
  .sidebar {
    flex-direction: row;
    width: 100%;
    padding: 1rem 1%;

    align-items: center;
    justify-content: center;

    .sidebar-section {
      max-width: 70%;
    }
  }

  .sidebar {
    display: none;
  }
}
